/*------SECTION ONE------*/
header {
    position: relative;
    background-color: black;
    height: 65vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: 500px;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
  
header .container {
    position: relative;
    z-index: 2;
}
  
header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

    /*---logo---*/
#logo{
    width: 249px;
    height: 35px;
    margin: 10px 50px;
}

@keyframes fadeIn { 
    from { opacity: 0; } 
  }

h1{
    text-transform: uppercase;
    font-family: 'Fredericka the Great', cursive;
    animation: fadeIn 2s infinite alternate;
}

h1, h4, .btn{
    color: #fff;
}

h4 {
    font-family: 'Space Mono', monospace;
    font-size: 30px;
    letter-spacing: 3px;
}

    /*---Button---*/
.btn {
    text-transform: uppercase;
    font-size: 15px;
    height: 35px;
    border: none;
    border-radius: 1px;
    font-family: 'Dosis', sans-serif;
}

.header-button {
    background-color: #BA55D3;
}


/*------SECTION TWO------*/
h2 {
    text-transform: uppercase;
    color: #663399;
    font-family: 'Dosis', sans-serif;
}

p {
    font-size: 15px;
    font-family: 'Dosis', sans-serif;
    margin-top: 30px; 
}

#more {display: none;}

#myBtn {
    text-decoration: none;
    color: #663399;
    text-transform: capitalize;
}

.text {
    margin: 90px 0px 0px 50px;;
    width: 450px;
    height: 160px;
}

#img-section-2 {
    width: 100%;
    object-fit: cover;
    animation: fadeIn 2s infinite alternate;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
 }

/*------SECTION THREE------*/
#sectionThree{
    background: url('/image/banner1.jpg') no-repeat; 
    background-size: 100% 100%;
    width: 100%;
    height: 500px;
}

#title-three{
    margin-top: 200px;
}

.body-button {
    background-color: #FF8C00;
}

/*------SECTION FOUR------*/
 h6 {
     text-align: center;
 }

.icon-part{
    background-color: #FFFAFA;
    height: 526px;
}

.icon-section{
    margin: 100px auto;
}

#myBtn2 {
    text-decoration: none;
    color: #663399;
    text-transform: capitalize;
}

#more2 {display: none;}

#title-four {
    color: black;
}

.icon {
    border-radius: 50%;
    border: 1px solid #663399;
    margin: 20px auto;
    padding: 15px;
    width: 102px;
    height: 100px;
}

.icon-img {
    animation: bounceAround 1.1s ease-in-out infinite;
}

@keyframes bounceAround {
    0% {transform:translateY(0);}
    20% {transform:translateY(-60px) rotate(0deg);}
    25%{transform:translateY(20px) rotate(0deg);}
    35%, 55%{transform:translateY(0px) rotate(0deg);}
    60% {transform: translateY(-20px) rotate(0deg);}
    100%{transform: translateY(-20px) rotate(360deg);}
  }

/*------SECTION FIVE------*/
#sectionFive{
    background: url('/image/banner2.jpg') no-repeat; 
    background-size: 100% 100%;
    width: 100%;
    height: 400px;
}

/*------SECTION SIX------*/
.pColor {
    color: #663399;
    text-align: center;
}

.carousel-item {
    padding: 7% 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: #663399;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: #663399;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FFD700;
}

.carousel-indicators {
    bottom: -30px;
}

.checked {
    color: #FF8C00;
    letter-spacing: 10px;
}


@keyframes flip {
    0% {transform: perspective(400px) translateZ(0) rotateY(0) scale(1);animation-timing-function: ease-out;}
    40% {transform: perspective(400px) translateZ(150px) rotateY(170deg) scale(1);animation-timing-function: ease-out;}
    50% {transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);animation-timing-function: ease-in;}
    80% {transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);animation-timing-function: ease-in;}
    100% {transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);animation-timing-function: ease-in;}
  }
  .animated.flip {
    backface-visibility: visible;
    animation-name: flip;
  }


/*----FOOTER----*/
.footerContainer{
    background-color: #FFFAFA;
    text-align: center;
}

i {
    margin: 10px;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }
  .pulse {
    animation-name: pulse;
    animation-duration: 1s;
  }

/*------BUTTON ROTATION ANIMATION----*/
.rotate:hover {
    animation: 1s rotate ease infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(-3deg);
      box-shadow: 0 2px 2px var(--first-color);
    }
    20% {
      transform: rotate(10deg);
    }
    40% {
      transform: rotate(-8deg);
    }
    60% {
      transform: rotate(3deg);
    }
    90% {
      transform: rotate(-1deg);
    }
    100% {
      transform: rotate(0);
      box-shadow: 0 2px 2px var(--first-color);
    }
}


/*------MEDIA QUERY-----*/
/*--Mobile----*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    h1 {
        font-size: 20px;
    }

    #logo{
        width: 135px;
        height: 35px;
        margin: 10px 20px;
    }

    h4{
        font-size: 15px;
    }

    .btn {
        text-transform: uppercase;
        font-size: 10px;
        height: 35px;
        border: none;
        border-radius: 1px;
        font-family: 'Dosis', sans-serif;
    }
    /*-------------------------------------*/
    .text {
        margin: 10px 0px 0px 10px;;
        width: 350px;
        height: 360px;
        font-size: 10px;
    }

    h2 {
        text-transform: uppercase;
        color: #663399;
        font-family: 'Dosis', sans-serif;
        font-size: 20px;
        padding-top: 20px;;
    }

    /*----------------------------------*/
    #sectionThree{
        background: url('/image/banner-1.JPG') no-repeat; 
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    #title-three{
        margin-top: 0px;
        padding-top: 150px
    }

    #title-three{
        font-size: 20px;
    }

    /*-----------------------------------*/
    .icon-part{
        background-color: #FFFAFA;
        height: 100%;
    }

    .icon-section{
        margin: 30px;
    }

    .icon {
        border-radius: 50%;
        border: 1px solid #663399;
        width: 102px; 
    }

    h6 {
        text-align: center;
        font-size: 15px;
    }

    /*-------------------------------*/
    #sectionFive{
        background: url('/image/banner-2.JPG') no-repeat; 
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    /*---------------------------------*/
    #ratingSection {
        height: 50px;
    }
    #carousel-container {
     height: 350px;
 }
}


/*--Tablet----*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    h1 {
        font-size: 30px;
    }

    #logo{
        width: 135px;
        height: 35px;
        margin: 10px 20px;
    }

    h4{
        font-size: 20px;
    }

    .btn {
        text-transform: uppercase;
        font-size: 15px;
        height: 35px;
        border: none;
        border-radius: 1px;
        font-family: 'Dosis', sans-serif;
    }

    /*--------------------------------------*/
    .text {
        margin: 20px 0px 0px 20px;;
        width: 600px;
        height: 360px;
        font-size: 15px;
    }

    /*--------------------------------------*/
    #sectionThree{
        background: url('/image/banner-1.JPG') no-repeat; 
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    /*--------------------------------------*/
    #sectionFive{
        background: url('/image/banner-2.JPG') no-repeat; 
        background-size: 100% 100%;
        width: 100%;
        height: 100%;
    }

    .text {
        margin-top: 20px;
    }

    /*---------------------------------------*/
    #ratingSection {
        height: 50px;
    }
    
    #carousel-container {
        height: 350px;
    }
}

